svg(viewbox='0 0 700 700', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  style
    @font-face {
      font-family: 'cern';
      src: url('../fonts/cern-terminal.eot');
      src: url('../fonts/cern-terminal.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cern-terminal.woff') format('woff'),
      url('../fonts/cern-terminal.ttf') format('truetype'),
      url('../fonts/cern-terminal.svg#cern') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    .cern {
      fill: #56d67e;
      font-family: cern,monospace;
      font-size: 50px; /* 24 */
      filter: url(#glow);
      text-anchor: middle;
      text-transform: uppercase;
    }
    .date {
      font-size: 21px; /* 13 */
      text-anchor: start;
    }
    .screen-time {
      text-anchor: end;
    }
    .button {
      stroke: #56d67e;
      filter: url(#glow);
      fill-opacity: 0;
    }
    .anchor:hover .button {
      fill: #56d67e;
      fill-opacity: 1;
    }
    .anchor:hover .link {
      fill: #000;
      filter: none;
    }
    #ff14_logo_shape_bg {
      filter: url(#glow);
    }
    #ff14_logo_ff {
      stroke: #000000;
      fill: #000000;
    }
    #ff14_logo_shape_pattern {
      fill: url(#stripe);
    }
    @media (max-width: 1000px) {
      #ff14_logo_shape_pattern {
        fill: url(#stripe2);
      }
    }
  title FullFrontal 2014
  defs
    pattern#stripe(fill='#000000', patternunits='userSpaceOnUse', width='1', height='4')
      rect(x='0', y='0', width='1', height='1')
    pattern#stripe2(fill='#000000', patternunits='userSpaceOnUse', width='10', height='6')
      rect(x='0', y='0', width='10', height='1.5')
    path#shape(d='M20,60 L20,40 L40,40 L40,20 L60,20 L60,0 L280,0 L280,200 L260,200 L260,220 L240,220 L240,240 L220,240 L220,260 L0,260 L0,60 L20,60 L20,60 Z')
    path#f(d='M50,171 L50,91 L80,91 L80,60 L50,60 L50,31 L80,31 L80,0 L20,0 L20,60 L0,60 L0,91 L20,91 L20,171 L50,171 L50,171 Z')
    filter#glow(x='-50%', y='-50%', width='200%', height='200%', filterunits='objectBoundingBox')
      feoffset(dx='0', dy='0', in='SourceAlpha', result='shadowOffsetOuter1')
      fegaussianblur(stddeviation='10', in='shadowOffsetOuter1', result='shadowBlurOuter1')
      fecolormatrix(values='0 0 0 0 0   0 0 0 0 0.901960784   0 0 0 0 0.368627451  0 0 0 0.175 0', in='shadowBlurOuter1', type='matrix', result='shadowMatrixOuter1')
      femerge
        femergenode(in='shadowMatrixOuter1')
        femergenode(in='SourceGraphic')

  svg(viewbox='0 0 306 286', width='100%', height='30%', preserveaspectratio='xMidYMid meet', y='10%', x='0%')
    g#ff14_logo(transform='translate(0, 0)')
      g#ff14_logo_shape_bg
        use(fill='#56D67E', fill-rule='evenodd', xlink:href='#shape')
      g#ff14_logo_shape_pattern
        use(fill-rule='evenodd', xlink:href='#shape')
      g#ff14_logo_ff(transform='translate(60, 45)')
        use(fill-rule='evenodd', xlink:href='#f')
        use(fill-rule='evenodd', xlink:href='#f', transform='translate(80, 0)')

  text.cern.date(x='0', y='5%')= text.binary1
  text.cern.date.screen-time(x='100%', y='5%')= text.binary2
  text.cern(x='50%', y='50%')= text.date + ' ' + text.location
  text.cern(x='50%', y='55%') _
  text.cern(x='50%', y='65%')= line[0]
  text.cern(x='50%', y='75%')= line[1]
  if buy
    a.anchor(xlink:href='http://leftlogic.stagehq.com', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', target='_top')
      rect.button(x='30%', y='82%', width='40%', height='10%')
      text.cern.link(x='50%', y='90%')!= button
  else
    rect.button(x='30%', y='82%', width='40%', height='10%')
    text.cern.link(x='50%', y='90%')= button