- var time = new Date(public._data.sessions.startTime)
- var today = '2014-05-16 '

hr.main-hr
section.main(class='session-style-' + config.mode, role='region', aria-labelledby='sessions')
  h2#sessions.section-title.icon-microphone(role='heading', aria-level='2') Sessions
  div.button-wrapper
    if config.soldout.conference
      span.button.button-disabled Sold Out
    else
      a.button(href='#') Buy Tickets
  ol.sessions-wrapper
    each session, index in public._data.sessions.sessions
      - if (!session.start) {
      -   session.start = pad(time.getHours()) + ':' + pad(time.getMinutes())
      - }
      - time.setMinutes(time.getMinutes() + session.duration)
      - if (!session.end) {
      -   session.end = pad(time.getHours()) + ':' + pad(time.getMinutes())
      - }
      if (session.break && config.phase == 3) || !session.break
        li.session-wrapper.sub-hr.js-session(id='slug' + index, data-date=today + session.start)
          if session.break
              header.break
                h3.schedule-title(role='heading', aria-level='3')= session.title
                div.session-time
                  =session.start + ' '
                  &mdash;
                  =' ' + session.end
          else
            if config.phase >= 3 && session.speaker.photo
              div.session-speaker-img-wrapper
                div.session-speaker-img(style='background-image:url(/images/speakers/' + session.speaker.photo + ')')
                  img(src='/images/speakers/' + session.speaker.photo, alt=session.speaker.alt?session.speaker.alt:'Picture of ' + session.speaker.name)
            div.session-about-wrapper
              header.session-header
                h3.session-title(role='heading', aria-level='3')= session.title
                if config.phase >= 3 && session.speaker.name
                  div.session-speaker-name
                    a(href='#')= session.speaker.name
                if config.phase == 3
                  div.session-time.session-speaker-time
                    =session.start + ' '
                    &mdash;
                    =' ' + session.end
              div.session-content
                if session.description
                  !=global.marked(session.description)
                if config.phase >= 3 && session.bio
                  div.session-bio
                    !=global.marked(session.bio)
                if config.phase == 4
                  if session.slides || session.audio || session.video
                    div.session-links
                      if session.slides
                        a.icon-document-text(href=session.slides) Slides
                      if session.audio
                        a.icon-notes(href=session.audio) Audio
                      if session.video
                        a.icon-video(href=session.video) Video