section(role='region', aria-labelledby='workshops')
  each workshop, index in public._data.workshops
    h2#workshops.section-title.icon-spanner(role='heading', aria-level='2') Workshop #{index+1}
    if config.onsale
      if config.soldout[workshop.slug]
        a.button.sold-out(href='/workshop/' + workshop.slug) Sold Out
      else
        a.button.buy(href='/workshop/' + workshop.slug) Buy Tickets
    else
      a.button.buy(href='/workshop/' + workshop.slug) Find More
    div
      section(id=workshop.slug)
        header
          h3.session-title(role='heading', aria-level='3')=workshop.title
          div
            a(href='#')= workshop.speaker.name
            div.time= workshop.details.date + ', ' +  workshop.details.time
        p.session-content= workshop.description
        if workshop.topics
          ul.session-list
            each topic in workshop.topics
              li=topic.title
                if topic.description
                  =': ' + topic.description