hr.main-hr
section.main(role='region', aria-labelledby='workshops')
  each workshop, index in public._data.workshops
    h2#workshops.section-title.icon-spanner(role='heading', aria-level='2') Workshop #{index+1}
    if config.onsale
      if config.soldout[workshop.slug]
          div.button-wrapper
            a.button.button-disabled(href='/workshop/' + workshop.slug) Sold Out
      else
          div.button-wrapper
            a.button(href='/workshop/' + workshop.slug) Buy Tickets
    else
        div.button-wrapper
          a.button(href='/workshop/' + workshop.slug) Find More
          sub.button-sub Includes Conference Ticket
    section.workshop-wrapper.sub-hr(id=workshop.slug)
      header
        h3.workshop-title(role='heading', aria-level='3')=workshop.title
        div
          a(href='#')= workshop.speaker.name
          div.workshop-time= workshop.details.date + ', ' +  workshop.details.time
      div.workshop-content-wrapper
        p.workshop-content= workshop.description
        if workshop.topics
          ul.workshop-list
            each topic in workshop.topics
              li=topic.title
                if topic.description
                  =': ' + topic.description